services:
  fynosapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fynos-api
    ports:
      - "8080:8080"
    env_file:
        - .env
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development

  postgres:
    image: postgres:16
    container_name: fynos-postgres
    env_file:
        - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
